<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> | Themed with <a href="https://github.com/lucaslew/whitespace">Whitespace</a></span>
</p>

<script type="text/javascript">
	var touchpointConfiguration = {
		id : '7orjd.1a2nm8p',
		autotrack : true,
		timeout : 10,
		domain : 'scnem.com',
		title : document.title
	};

	(function(tpc) {
		try {
			var sn = document.getElementsByTagName('script')[0],
			tp = document.createElement('script'); tp.type = 'text/javascript';
			tp.id = 'ev_touchpoint';
			tp.src = '//' + tpc.domain + '/ewaf/view/js/tp.js?';
			sn.parentNode.insertBefore(tp, sn);
		} catch (e) {}
	})(touchpointConfiguration);
</script>
							